body {
    font-family: Arial;
    margin: 0;
}
.nav-bar {
    background-image: linear-gradient(to right, #caa9f1, #b9b5f9, #abbffd, #a0c8fd, #9cd0fa, #a2cefa, #a7cdfa, #adcbfa, #c4bef4, #ddafe3, #f0a1c7, #f798a4);
    width: 100%;
    height: 130px;
}
.nav-link {
    position: relative;
    left: 40px;
    top: 25px;
}
.nav-right {
    position: relative;
    top: 25px;
    right: 40px;
    float: right;
}
.nav-button {
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    border: 2px solid #0f1654;
    border-radius: 40px;
    color: #0f1654;
    padding: 27px;
    cursor: pointer;
    background: transparent;
}
.nav-button:hover {
    background-color: rgba(15, 22, 84, 0.15);
}
.row-one {
    height: 375px;
    width: 98%;
    position: relative;
    top: 1%;
    left: 1%;
}
.row-one-left {
    display: inline-block;
    height: 100%;
    width: 32%;
    position: relative;
    left: 1%;
}
.tagline-bubble {
    height: 80px;
    width: 300px;
    font-size: 25pt;
    color: #0f1654;
    border: 1px solid #0f1654;
    border-radius: 40px 40px 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: right;
    float: right;
    margin-bottom: 0;
}
.colorpict {
    font-weight: bold;
    color: #d8397e;
}
.instructions-row-one {
    font-size: 15pt;
    text-align: right;
    margin-top: 40px;
    width: 500px;
    float: right;
    color: #0f1654;
}
.asthetic {
    color: #80b7a2;
    font-weight: bold;
}
.row-one-right {
    display: inline-block;
    height: 100%;
    width: 54%;
    position: relative;
    top: -260px;
    left: 160px;
}
.question-one {
    font-weight: bold;
    font-size: 18pt;
    color: #d8397e;
}
input[type=file] {
    display: none;
}
.obtain-picture {
    background-image: linear-gradient(to right, #bad9fa, #d2d5f9, #e9d1f0, #f8cfe2, #ffd0d3);
    text-align: center;
/*     border: 1px solid transparent; */
    border-radius: 40px;
    font-size: 25pt;
    position: relative;
    top: 240px;
    padding: 215px 120px 40px 120px;
    color: #0f1654;
}
.obtain-picture:hover {
    background-image: linear-gradient(to left, #bad9fa, #d2d5f9, #e9d1f0, #f8cfe2, #ffd0d3);
    cursor: pointer;
}
.row-two {
    height: 750px;
    width: 98%;
    position: relative;
    top: 40px;
    left: 1%;
}
.row-two-left {
    display: inline-block;
    height: 100%;
    width: 32%;
    position: relative;
    left: 1%;
}
.row-two-right {
    display: inline-block;
    height: 100%;
    width: 54%;
    position: relative;
    top: -330px;
    left: 160px;
}
.image-display {
    height: 600px;
    float: right;
}
.hues {
    
}
.hue {
    padding: 40px;
    background-color: #ccc;
    border-radius: 15px;
}

.hue-delete {
    display: none;
}
.hue:hover > .hue-delete {
    cursor: pointer;
    display: contents;
}
.recommend {
    color: #d8397e;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    border: 2px solid #d8397e;
    border-radius: 40px;
    padding: 27px;
    cursor: pointer;
    background: transparent;
}
.recommend:hover {
    background: #d8397e;
    color: #fff;
}
.rec-bubble {
    font-size: 25pt;
    color: #0f1654;
    border: 1px solid #0f1654;
    border-radius: 40px 40px 40px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: right;
    margin-bottom: 0;
    position: relative;
    top: 60px;
    left: 60px;
}
.rec-info {
    font-size: 15pt;
    text-align: left;
    position: relative;
    top: 90px;
    left: 60px;
    color: #0f1654;
}
.hue-rec {
    position: relative;
    top: 60px;
    padding: 60px 50px;
    background-color: #ccc;
    border-radius: 15px;
}
.add-info {
    position: relative;
    left: -400px;
    top: 150px;
    color: #0f1654;
    font-size: 18pt;
    font-weight: bold;
}
.to-info {
    position: relative;
    width: 100px;
    left: 435px;
    top: -85px;
    color: #0f1654;
    font-size: 18pt;
    font-weight: bold;
    display: block;
    text-align: left;
}