<script>
document.addEventListener('submit', e => {
    var input = document.querySelector('input[type="file"]')
    const form = e.target;
    var data = new FormData(form);
    data.append('file', input.files[0]);
    console.log(data);
    fetch(form.action, {
        method: form.method,
        body: data,
    }).then((response) => {
        return response.json();
    })
    .then((myJson) => {
        console.log(myJson);
        document.getElementById('top').style.backgroundColor = 'rgb' + myJson['top'];
        document.getElementById('bottom').style.backgroundColor = 'rgb' + myJson['bottom'];
        document.getElementById('top').parentNode.style.display = '';
        document.getElementById('bottom').parentNode.style.display = '';
        img = document.getElementsByTagName('img')[0];
        img.setAttribute('src', 'data:image/jpeg;base64, ' + myJson['pic']);
        img.style.display = "";
        img.style.width = (myJson['width'] / 10) + 'px';
        img.style.height = (myJson['height'] / 10) + 'px';
    });
    e.preventDefault();
});
function crop() {
    window.cropper = $('.image').croppie({'enableResize': true});
    window.cropper.croppie('result', 'blob').then(function (blob) {
        document.getElementById('upload_pic').value = blob;
        document.getElementById('upload_pic').parentNode.submit();
    });
}
function cropped() {
}
</script>
<script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<form action="/proc_img/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="upload_pic" type="file" accept="image/*" name="image">
    <input type="submit">
</form>
<div style="display: none;">
    <label>Color of top:</label>
    <div id="top" style="height: 100px; width: 100px;"></div>
</div>
<div style="display: none;">
    <label>Color of bottom:</label>
    <div id="bottom" style="height: 100px; width: 100px;"></div>
</div>
<img src="data:image/jpeg;base64, " class="image" style="display: none;"/>
<button onclick="crop()">Crop</button>
<button class="resizer-result">Result</button>